
<div>
    <mat-sidenav-container class="app-container">
        <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
            <!-- <app-navigation-bar></app-navigation-bar> -->
           <!-- <div (click)="sidenav.toggle()">
             close
           </div> -->
          </mat-sidenav>
        <!-- <mat-sidenav #sidenav mode="side" opened class="app-sidenav">
          <app-navigation-bar></app-navigation-bar>
         <div (click)="sidenav.toggle()">
           close
         </div>>
        </mat-sidenav>
      
        <mat-sidenav-content>
          <app-action-bar class="action-bar"></app-action-bar>
          <div class="app-content">
              <router-outlet></router-outlet>
          </div>
        </mat-sidenav-content> -->
      </mat-sidenav-container>
</div>
